# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/build
/CMakeFiles
*.cmake
/compile_commands.json
/Makefile
/Cmake_Test
/CMakeCache.txt
.remote-sync.json

#Intellij
/.idea
/cmake-build-debug
/cmake-build-debug-coverage

#Doxygen docs
/docs/
