# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/testBuild
/build
/CMakeFiles
*.cmake
/compile_commands.json
/Makefile
/Cmake_Test
/CMakeCache.txt
.remote-sync.json

#Intellij
/.idea
/cmake-build-debug
/cmake-build-debug-coverage

# other IDEs
/.vscode

#Doxygen docs
/docs/

# Our configuration file
streaming.conf
test/statistical_testing/stat_config.txt

# Mac Files
*.DS_Store

# Python stuff for statistical testing
*__pycache__/
*test_env/

# Dataset files
/datasets
/CUDAtest
/results

# VieCut
/VieCut